{% extends "base.html" %}

{% block content %}
<div id="main">
  <header>
    <span><a href="/">Home</a></span>
    <span><a href="/blog/">Blog</a></span>
  </header>
  <p>
    Hi, I'm Nikita! I'm a software developer living in Canada. I like to make
    things that people use or enjoy. Sometimes that's
    <a href="https://github.com/indiv0">code</a>, sometimes that's
    <a href="/blog/">writing</a>, and sometimes it's music.
  </p>
  <p>Contact info:</p>
  <ul>
    <li>email: nikita &#64; frecency dot com</li>
    <li>indiv0 <a href="https://github.com/indiv0">on github</a></li>
    <li><a href="4264C0ABC8A52CC1.pub.asc">Public key</a> fingerprint:
      <p id="fingerprint">
        3736 3F2B 2EF6 132D 4DA2<br>
	AECE 4264 C0AB C8A5 2CC1
      </p>
    </li>
  </ul>
  <div id="footer">&#169; 2014-2020 Nikita Pekin</div>
</div>
{% endblock content %}
